/*=============================
          TheContact
==============================*/
.contact__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 700px;
}

.contact__content {
  width: 100%;
  padding: 15px;
  background-color: $color-green-semi;
  box-shadow: 8px 8px 12px 4px $color-brown-light;
  border-radius: $radius;
  &:hover {
    transform: $transform;
  }
}

.contact__title {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 18px;
  @include sm {
    font-size: 24px;
  }
}
.contact__media {
  position: relative;
  margin: 30px 0;
}

.contact__img {
  width: 100%; 
  box-shadow: 8px 8px 12px 4px $color-brown-light;
  border-radius: $radius;
}

.contact__icon {
  position: absolute;
  top: 130px;
  left: 200px;
  color: $color-red;
  font-size: 40px;
  &:hover {
    color: $color-red-dark;
    transform: $transform;
  }
}

.contact__span {
  font-size: 18px;
  margin-bottom: 15px;
  text-shadow: 1px 1px  $color-green-light;
  font-size: 18px;
  @include sm {
    font-size: 20px;
  }
}