.dashboard {
  
  padding: 10px 80px;
  background-color: $color-yellow;
  box-shadow: 5px 5px 20px $color-green-dark;
  color: $color-green-dark;
  border-radius: $radius;
}

.dashboard__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.dashboard__field {
  padding: 5px 10px;
  margin-top: 10px;
  outline: none;
  box-shadow: 5px 5px 12px $color-yellow-dark;
  border-radius: $radius;
}

.dashboard__title {
  font-family: $font-family-title;
}

.dashboard__title,.dashboard__subtitle {
  text-shadow: 2px 2px 2px $color-yellow-dark;
}

.dashboard__error, .v-application p {
  color: $color-red-dark;
  margin: 0;
}

.dashboard__div.invalid input,.dashboard__div.invalid select {
  border: 1px solid $color-red-dark;
}

.dashboard__success {
  padding: 10px;
  text-align: center;
  background: $color-green-dark;
  color: $color-yellow;
  font-size: 20px;
  font-family: $font-family-title;
  border-radius: $radius;
  box-shadow: 3px 3px 8px $color-yellow-dark;
}

.dashboard__dialog {
  background-color: $color-yellow;
}

.dashboard__dialog-text {
  margin: 0;
}

.dashboard__dialog-button {
  cursor: pointer;
}