/*======================
        Colors
========================*/
$green: #009999;
$yellow: #ffffe6;


/*======================
        Fonts
========================*/
$font-title: 'Indie Flower', cursive;
$font-text: 'Open Sans', sans-serif;

$font-normal: 400;
$font-bold: 700;

/*======================
        Radius
========================*/
$radius: 20px;