/*TheHeader*/
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 35px;
  border-radius: $radius;
  background-color: $green;
  color: $yellow;
}

.header__title-div {
  font-family: $font-title;
}

.header__icon {
  margin: 0 10px -20px 0;
  font-size: 84px;
}

.header__title-first {
  font-size: 58px;
  font-weight: $font-bold;
}

.header__title-second {
  margin: -25px 0 -10px 90px;
  font-size: 28px;
  font-weight: $font-normal;
}

.header__title-third {
  margin: 10px 0 0 20px;
  font-size: 20px;
  font-weight: $font-normal;
  font-family: $font-text;
}

.header__icon {

}
.header__list {
  display: flex;
  justify-content: center;
}

.header__item {
  margin: 20px;
  list-style: none;
}

.header__link {
  text-transform: uppercase;
  text-decoration: none;
  color: $yellow;
}

